include ../mixins/mixins.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} 
    
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/5080cab7ce.js' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js' crossorigin='anonymous')
        script(src='/js/common.js' defer)
        

        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
    body
        .wrapper 
            .row 
                nav.col-2
                    span.blue 
                        i.fas.fa-dove

                    a(href='/')
                        i.fas.fa-home
                    a(href='/search')
                        i.fas.fa-search
                    a(href='/notifications')
                        i.fas.fa-bell
                    a(href='/messages')
                        i.fas.fa-envelope
                    a(href='/profile')
                        i.fas.fa-user
                    a(href='/signout')
                        i.fas.fa-sign-out-alt
                            
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer 
                        h1 #{pageTitle}                    
                    block content 

                .d-none.d-md-block.col-md-2.col-lg-4
                    span third column

        block scripts