extends layouts/login-layout 

block content 
    .loginContainer 
        h1 Login 
        form(method="post", enctype="multipart/form-data")

            p.errorMessage #{errorMessage}

            input(type="text", name="logUsername", placeholder="Username or email", required="")
            input(type="password", name="logPassword", placeholder="Password", required="")
            input(type="submit", value="Login")
        a(href="/register") Register new account. 