extends layouts/login-layout 

block content 
    .loginContainer 
        h1 Register
        form#registerForm(method="post", enctype="multipart/form-data", onsubmit="event.preventDefault(); validateForm(); ")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="First name", value=firstName, required="")
            input(type="text", name="lastName", placeholder="Last name", value=lastName, required="")
            input(type="text", name="username", placeholder="Username", value=username, required="")
            input(type="email", name="email", placeholder="Email", value=email, required="")
            
            input#password(type="password", name="password", placeholder="Password", required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")


            input(type="submit", value="Create")
        a(href="/login") Already have an account? Log in here.
    script.
        var passwordField = document.getElementById('password');
        var passwordConfirmField = document.getElementById('passwordConf');

        var form = document.getElementById('registerForm');
        function validateForm() {
            if(passwordField.value != passwordConfirmField.value) {
                alert('Passwords do not match. Please try again.');
            } else {
                form.submit();
            }
        }

