:root {
    --main-blue: #1fa2f1;
    --light-blue: #9BD1F9;
    --buttonHoverBg: #d4edff;
    --darkerGrey: #484848;
    --darkGrey: #6a6a6a;
    --lightGrey: #e6ecf0;
    --red: #e2225e;
    --spacing: 15px;
}

* {
    outline: none !important;
}

a {
    color: var(--darkGrey);
    text-decoration: none;
}

a:hover {
    color: inherit;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

nav a {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

h1 {
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}

nav span.blue {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-blue);
}

nav a:hover {
    background-color: var(--buttonHoverBg);
    color: var(--main-blue);
    border-radius: 50%; 
}

button i,
button span {
    pointer-events: none;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 50px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

.postFormContainer {
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid var(--lightGrey);
    flex-shrink: 0;
}

.userImageContainer {
    width: 50px;
    height: 50px;

}

.userImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--lightGrey);
}

.textareaContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.textareaContainer textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}

#submitPostButton {
    background-color: var(--main-blue);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
    float: right;
}

#submitPostButton:disabled {
    background-color: var(--light-blue);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.postContentContainer .username {
    flex: 1;
}

.username,
.date {
    color: var(--darkGrey);
}

.displayName {
    font-weight: bold;
    color: var(--darkerGrey);
}

.postFooter {
    display: flex;
    align-items: center;
}



.postFooter .postButtonContainer {
    display: flex;
    flex: 1;
    align-items: center;
}

.postFooter .postButtonContainer button {
    padding: 2px 5px;
    border: none;
    background-color: transparent;
    color: var(--darkGrey);
}

.postContentContainer .header a:hover {
    text-decoration: underline;
}

.postContentContainer .header a,span {
    padding-right: 5px;
}

.postButtonContainer button:hover {
    background-color: var(--buttonHoverBg);
    color: var(-- main-blue);
    border-radius: 50%;
}

button.red {
    color: var(--red) !important;
}

