mixin createPostForm(user)
    .postFormContainer
        .userImageContainer
            img(src=user.profilePic, alt="User's profile picture")

        .textareaContainer 
            textarea#postTextarea(placeholder="What's happening?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post